name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download Blender
        run: |
          BLENDER_VERSION="5.0.1"
          BLENDER_ARCHIVE="blender-${BLENDER_VERSION}-linux-x64.tar.xz"
          BLENDER_DIR_NAME="blender-${BLENDER_VERSION}-linux-x64"
          wget "https://download.blender.org/release/Blender${BLENDER_VERSION%.*}/${BLENDER_ARCHIVE}"
          tar -xf "${BLENDER_ARCHIVE}"
          echo "$PWD/${BLENDER_DIR_NAME}" >> $GITHUB_PATH

      - name: Build
        run: |
          mkdir dist
          blender --command extension build --source-dir ./src --output-dir ./dist

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          files: dist/*.zip
          draft: true
          prerelease: ${{ contains(github.ref_name, '-') }}
